.helpBar{
	width:100%;
	height:50%;
	justify-content: center;
    align-items: center;
	background-color: gray;
    position: absolute; bottom:0px; left:0px;
	background: linear-gradient(to bottom, rgba(80,80,80,.95), rgba(30,30,30,0.9));
    z-index: 5;
}
.checkout{
	color: white;
	font-size: 24px;
	width:50%;
	height:10%;
	position: relative;
	display: flex;
	background-color: silver;
	border-top:2px solid gray;
    position: absolute; bottom:0px; left:0px;
    z-index: 6;
}
.status{
	color: white;
	font-size: 24px;
	width:50%;
	height:10%;
	position: relative;
	display: flex;
	background-color: silver;
	border-top:2px solid gray;
    position: absolute; bottom:0px; left:50%;
    z-index: 6;
}
.nameField::before{
	width:2vw;
	height: 4vh;
	display: inline-block;
	background-image: url("../gfx/icoUser.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: relative; top:0vh;
	content: "";
}
.nameField{
	width:50%;
	height: 4vh;
	padding-bottom: 0.5vh;
	margin-left: 0.5vw;
	border-bottom: 2px dotted white;
}
.sumfield{
	width:70%;
	height:50%;
	font-size: 4vh;
	margin-top: 2.5vh;
	margin-left: 1vw;
	margin-right: 1vw;
	padding-left: 0.25vw;
	border: 2px solid black;
	border-style:dotted;
}
.checkoutButton{
	width:15%;
	height:100%;
	background-color: rgba(25, 200, 25, 0.8);

}
.special{
	width:85%;
}
.signOut{
	width:15%;
	height:100%;
	float: left;
	cursor: pointer;
	background-image: url("../gfx/icoPower.png");
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center; 
	background-color: rgba(200,55,55,0.8);
}
.clearButton{
	width:15%;
	height:100%;
	background-color: rgba(200, 25, 25, 0.8);
	cursor: pointer;
	background-image: url("../gfx/icoTrash.png");
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center; 
}
.valueCalculator{
	width: 35%;
	display: flex;
	flex-wrap: wrap;
}
.valueField{
	display: flex;
}
.valueButton{
	height: 5vh;
	width: 15vw;
	margin-left: 1vw;
	background-color: pink;
	cursor: pointer;
	margin-top: 1vh;
}