.login{
	height:50%;
	width:50%;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	background-color: white;
	border:2px solid gray;
}
.field{
	height:50%;
	width:75%;
	margin-right: auto;
	margin-left: auto;
	background-color: gold;
	font-size: 2vw;
	content: "";
}
.button{
	height:25%;
	width:25%;
	margin-right: auto;
	margin-left: auto;
	content: "login";
}