.navigationField{
	color: white;
	font-size: 24px;
	width:100%;
	height:4%;
	position: relative;
	display: flex;
    position: absolute; top:0px; left:0px;
    z-index: 6;
}
.activeField{
	height: 4vh;
	background: rgb(255,255,255,0.8);

	color: black;

}
.inactiveField{
	height: 4vh;
	cursor: pointer;
	border-bottom: 2px solid gray;
	opacity: 0.7;

}