* {
	font-size: 2vh;
 font-family:verdana;

}
html{
	height:100%;
	margin:0;
	padding:0;
}
body{
	height:100%;
	margin:0;
	padding:0;
}
@media only screen and (max-width: 520px) {

	cartText { font-size: 4vm; }

}
.page{
	width:100%;
	height:100%;
	position: relative;
	display: flex;
	overflow: hidden;
	z-index: :1;
	background-color: #BBFFD1;
}
.recipe{
	width:50%;
	min-height:100%;
	overflow: auto;
	margin-right: 0.01vw;
	border-right: 0.01vw solid black;
	height: auto;
}
.buy{
	width:50%;
	min-height:100%;
	overflow: auto;
	margin-left: 0.01vw;
	border-left: 0.01vw solid black;
	height: auto;
}
.store{
	height:: 10%;
	width: 100%;
	position: relative; top:0px; left:0px;
	background-color: lime;
}
.cart{
	height:50px;
	width:100%;
	content:"";
	margin-top: 1vh;
	background-color: white;
	opacity:0.9;
	cursor:pointer;	
}
.contentLine0{
	width:49%;
	float: left;
}
.contentLine1{
	width:49%;
	float: right;
}
.cartItem{
	height:50px;
	width:100%;
	margin-top: 1vh;
	position: relative;
	display: flex;
}
.cartAdd{
	height: 50px;
	width:5%;
	content: "";
	background-color: lime;
	opacity: 0.9;
	cursor: pointer;
}
.cartText{
	height: 50px;
	width: 85%;
	content: "";
	background-color: white;
	opacity: 0.9;
	cursor: pointer;
}
.cartRemove{
	height:50px;
	width: 15%;
	content: "";
	background-color: red;
	opacity: 0.9;
	cursor: pointer;
}
.add{
	width:80%;
	height:25%;
	background-color: purple;
	position: relative;
	top:0px;left:0px;
}
.add:after{
	width:100%;
	height:25%;
	background-color: yellow;
	position: relative;
	top:0px;left:0px;
}